#nav{
    position: fixed;
    top: -207px;
    left: -367px;
    height: 400px;
    width: 720px;
    font-family: "Press Start 2P";
    transform: rotate(-45deg);
    transition: all 0.2s;
}

#nav.openedNav{top: -87px; left: -247px;}

#navBackground{display: flex; flex-wrap: wrap;}

#navButtons > a:hover,
#navButtons > a:visited,
#navButtons > a:link,
#navButtons > a:active{text-decoration: none;}

#openNav{top: 335px; left: 255px; font-size: 54px;}
#closeNav{top: 20px; left: 315px; font-size: 170px;}
#home{top: 265px; left: 180px; font-size: 36px;}
#fun{top: 265px; left: 430px; font-size: 36px;}
#projects{top: 345px; left: 75px; font-size: 36px;}
#contact{top: 345px; left: 400px; font-size: 36px;}

.closedNavElem{opacity: 1; visibility: visible; transition: all 0.2s;}
.closedNavElem.openedNav{opacity: 0; visibility: hidden;}
.openNavElem{opacity: 0; visibility: hidden; transition: all 0.2s;}
.openNavElem.openedNav{opacity: 1; visibility: visible;}

.navItem{
    position: absolute;
    display: inline-block;
    color:white;
    margin: 0px;
    padding: 0px;
    text-shadow: 1px 1px 8px lightgray, 
                 2px 2px 8px lightgray, 
                 3px 3px 8px lightgray, 
                 4px 4px 8px lightgray, 
                 5px 5px 8px lightgray;
}

.selected{text-decoration: underline !important;}

.navItem:hover{animation: shakeNavElement 0.2s infinite;}
@keyframes shakeNavElement {
    0%   {transform: rotate(-2deg);}
    25%  {transform: rotate(-4deg);}
    50%  {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}
