<div>
    <link rel="stylesheet" href="./css/home.css">
    <div id="meMyselfAndI">
        <img id="pictureOfMe" src="./assets/me.jpg" alt="picture of myself"/>
        <div id="meMyselfAndIText" class="textDiv homeItem">
            <p class="textTitle">Me, Myself & I</p>
            <p>Hello! Thanks for visiting my page! My name is Janek Kossinski and I'm an unestablished developer from Estonia.</p>
            <p>This page was supposed to be my portfolio, but during the development I figured that making it my main everything wouldn't be that bad of an idea. This way I can keep everything in one place.</p>
            <p>On this page you'll find all kinds of thingies that are made by or concern me, including: random fun projects I feel like uploading here, maybe blog posts and funny cat pictures.</p>
            <p>The guy on the left (or up)
<!--                span with :before for changing left and up-->
            with a notebook that has "CHILL" written in it is me. It was taken during the "defence of my seminary paper", which is pretty much a smaller thesis in my university. I'm not that confident in how this picture looks, but usually I'm incredibly unphotogenic, so for now this should suffice for describing my general appearance.</p>
            <p>Below you'll find what skills I own, my hobbies, my traits, things I do and don't like and everything in between, so this page is pretty much my CV.</p>
        </div>
        <div id="meMyselfAndIText" class="textDiv homeItem">
            <p class="textTitle">Me, Myself & I</p>
            <p>Hello! Thanks for visiting my page! My name is Janek Kossinski and I'm an unestablished developer from Estonia.</p>
            <p>This page was supposed to be my portfolio, but during the development I figured that making it my main everything wouldn't be that bad of an idea. This way I can keep everything in one place.</p>
            <p>On this page you'll find all kinds of thingies that are made by or concern me, including: random fun projects I feel like uploading here, maybe blog posts and funny cat pictures.</p>
            <p>The guy on the left (or up)
<!--                span with :before for changing left and up-->
            with a notebook that has "CHILL" written in it is me. It was taken during the "defence of my seminary paper", which is pretty much a smaller thesis in my university. I'm not that confident in how this picture looks, but usually I'm incredibly unphotogenic, so for now this should suffice for describing my general appearance.</p>
            <p>Below you'll find what skills I own, my hobbies, my traits, things I do and don't like and everything in between, so this page is pretty much my CV.</p>
        </div>
        <div id="meMyselfAndIText" class="textDiv homeItem">
            <p class="textTitle">Me, Myself & I</p>
            <p>Hello! Thanks for visiting my page! My name is Janek Kossinski and I'm an unestablished developer from Estonia.</p>
            <p>This page was supposed to be my portfolio, but during the development I figured that making it my main everything wouldn't be that bad of an idea. This way I can keep everything in one place.</p>
            <p>On this page you'll find all kinds of thingies that are made by or concern me, including: random fun projects I feel like uploading here, maybe blog posts and funny cat pictures.</p>
            <p>The guy on the left (or up)
<!--                span with :before for changing left and up-->
            with a notebook that has "CHILL" written in it is me. It was taken during the "defence of my seminary paper", which is pretty much a smaller thesis in my university. I'm not that confident in how this picture looks, but usually I'm incredibly unphotogenic, so for now this should suffice for describing my general appearance.</p>
            <p>Below you'll find what skills I own, my hobbies, my traits, things I do and don't like and everything in between, so this page is pretty much my CV.</p>
        </div>
        <div id="meMyselfAndIText" class="textDiv homeItem">
            <p class="textTitle">Me, Myself & I</p>
            <p>Hello! Thanks for visiting my page! My name is Janek Kossinski and I'm an unestablished developer from Estonia.</p>
            <p>This page was supposed to be my portfolio, but during the development I figured that making it my main everything wouldn't be that bad of an idea. This way I can keep everything in one place.</p>
            <p>On this page you'll find all kinds of thingies that are made by or concern me, including: random fun projects I feel like uploading here, maybe blog posts and funny cat pictures.</p>
            <p>The guy on the left (or up)
<!--                span with :before for changing left and up-->
            with a notebook that has "CHILL" written in it is me. It was taken during the "defence of my seminary paper", which is pretty much a smaller thesis in my university. I'm not that confident in how this picture looks, but usually I'm incredibly unphotogenic, so for now this should suffice for describing my general appearance.</p>
            <p>Below you'll find what skills I own, my hobbies, my traits, things I do and don't like and everything in between, so this page is pretty much my CV.</p>
        </div>
        
    </div>
</div>